*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: #eee;
}
/* header section */
header{
  
}
nav {
    background-color: black;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}
nav .left-nav{
    display: flex;
    align-items: center;
    gap: 30px;
}


nav .left-nav .icon-image  img{
    width: 110px;
    
}

/* nav .left-nav .icon-image:hover{
    border:1px solid #fff;
    border-radius: 3px;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    

} */

nav .left-nav .location{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav .left-nav .place{
    display: flex;
    align-items: center;
}
small{
    font-weight: lighter;
    color: gainsboro;

}
nav .left-nav svg{
    width: 20px;
}
nav .left-nav .location .place h4{
    font-size: 13px;
}
/* nav .left-nav .location:hover{
    border:1px solid #fff;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
} */
nav .middle-nav{
    display: flex;
    align-items: center;
}
nav .middle-nav .btn{
    background-color: ghostwhite;
  
}
nav .middle-nav .btn button{
    padding: 14px 20px;
    border: none;
   
    /* border-top-left-radius: 5px;
    border-bottom-left-radius:5px; */
}

nav .middle-nav .input-field input{
    padding: 14px 25px;
     width: 470px;
     border: none;
}
nav .middle-nav .search{
    background-color: orange;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}
nav .middle-nav .search svg{
    color:#000;
    font-size: 20px;
    font-weight: bolder; 
}
nav .right-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}


select{
    border: none;
    background-color: transparent;
    color: #6d6a6a;
    font-size: 8px;
}
nav .right-nav .details{
    display: flex;
    flex-direction: column;

}

nav .right-nav .details .account{
    display: flex;
}
nav .right-nav .details .account p{
    font-size: 14px;
}

nav .right-nav .orders p{
    font-size: 14px;
}
nav .right-nav .country .image{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .right-nav .country .image img{
    width: 23px;
}
nav .right-nav .country .image label{
    font-size: 14px;
}
nav .right-nav .details{
    display: flex;
    flex-direction: column;
    
}
nav .right-nav .details small{
    font-family: 10px;
    font-weight: lighter;
}
nav .right-nav .details .account{
    display: flex;
    
    gap: 10px;
    
}
nav .right-nav .details .account div{
    display: flex;
    
    gap: 2px;
    
}
nav .right-nav .details .account div p{
    font-size: 14px;
}

nav .right-nav .orders{
    display: flex;
    flex-direction: column;
}
nav .right-nav .orders  div{
    display: flex;
    
    gap: 2px;
}
nav .right-nav .carts{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 8px;
    
}
nav .right-nav .carts .cart-img img{
    width: 40px;
}
nav .right-nav .carts .cart-img p{
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 14px;
    color: orange;
    font-weight: bolder;
}
nav .right-nav .carts h4{
    font-size: 14px;
}
/* nav .right-nav .carts:hover{
    border:1px solid #fff;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    
    align-items: center;
} */

/* navbar ends */
/* menu */
.menu{
    padding: 8px;
    background-color: rgba(37, 37, 41, 0.651);
    display: flex;
    align-items: center;
    gap:12px;
    padding: 8px;
}
.menu .image-svg{
    display: flex;
    align-items: center;
}
svg{
    width: 25px;
}
.menu div{
    color: #fff;
    font-size: 14px;
}
/* menu */
/* hero-section */
/* .hero-section{
    width: 100%;
    
 }
 .hero-section img{
   
    width: 100%;
 } */
/* main */
main{
    width: 100%;
    background-color: #eee;
    background-image:url(bg-images/hero-bg.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
     padding-left: 10px; 
     padding-right: 10px; 
     padding-top: 200px;
     /* position: relative; */
     /* bottom: 300px;  */
     
}
main section{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

main section .container{
    background-color: #fff;
    max-width: 860px;
    /* height: 430px; */
    padding: 5px 10px;
}
main section .container .box{
   width: 280px; 
   padding-right: 10px;

}
main section .container .products-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
}
main section .container .products-images .products{
    display: flex;
    align-items: center;
    gap:10px;
   
    margin-bottom: 30px;
     margin-top: 30px;

}
main section .container .products-images .products .img{
    display: flex;
    flex-direction: column;
    gap: 10pxs;
    align-items: center;
    width: 100%;
  
}
main section .container .products-images .products .img img{
    width: 100%;
}
main section .container small{
    color: #000;
}
main section .container a{
    text-decoration: none;
    color:lightblue;
    font-size: 14px;
    font-weight: bolder;
    
    
   
}
main section .container .box  .image-deals{
   margin-top: 30px;
   padding: 10px;
}
main section .container .box  .image-deals img{
    width: 260px;
    height: 260px;

}
main section .container .box .amazon-gadget{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 26px;
}
/* main section .container .box .amazon-gadget .gadget{
    
} */
main section .container .box .amazon-gadget .image-phone img{
    width: 100%;
    height: 200px;
    margin-top: 25px;
}
main section .container .box .amazon-gadget .gadget{
    width: 100%;
    display: flex;
    gap:10px;
    margin-top: 40px;
}
main section .container .box .amazon-gadget .gadget p{
    margin-top: 20px;
}
main section .container .box .amazon-gadget .gadget div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
main section .container .box .amazon-gadget .gadget div img{
    width: 100%;
}


/* best sales section */
main .section-2{
    margin-top: 10px;
    background-color:#fff;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* margin-bottom: 50px; */
}
main .section-2 .best-sales-toys{
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
}
/*footer*/
footer{
    background-color: #fff;
    margin-top: 30px;
   
}
footer .container{
    margin: 10px;
    border: 1px solid lightgray;
    margin: 0;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 30px;

}
footer .container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:5px;
}
footer .container .box button{
    color: #000;
    font-size: small;
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}
footer .container .box .sign-in{
    background-color: rgb(241, 211, 40);
    padding:10px 100px;
    border-radius: 5px;
    border: 0.5px solid rgb(168, 52, 52);
    font-size: 14px;
}
footer .container .box button span{
    text-decoration: none;
    margin-left: 3px;
    color:lightskyblue;


}
footer  .back-to-top{
    background-color: rgb(64, 78, 90);
    padding: 20px;
    transition: all 3000ms ease;
}
footer  .back-to-top p{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
footer  .back-to-top:hover{
    background-color: rgb(121, 137, 151);
}
footer  .footer-container{
    background-color: #262e3b;
   padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
footer  .footer-container .card{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
footer  .footer-container .card h2{
    font-size: 15px;
    color:#fff;
    margin-top:10px ;
}
footer  .footer-container .card ul{
    list-style: none;
   color:#fff;
   /* margin-top: 10px 0; */

}
footer  .footer-container .card ul li{
    margin: 15px 0;
    font-size: 13px;
    cursor: pointer;
    transition: all 3000ms ease;
}
footer  .footer-container .card ul li:hover{
    text-decoration: underline;
}